body {
    background-color: #EFEFEF;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #444;
}
.chart-container {
    width: 80%;
    max-width: 800px;
    height: 400px;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.filter {
    background-color: #5D5D5D;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0.5rem;
}
.filter.active {
    background-color: #444;
}